
body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.page2body {
    background: linear-gradient(15deg, #ff5656 50%, #e27d7d 50%);
}

.page1body {
    background: linear-gradient(60deg, #ff5656 50%, #e27d7d 50%);
}

.container {
    max-width: 600px;
    margin: 55px auto;
    background-color: rgba(235, 228, 228, 0.658);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}

.container page1-container{
    max-width: 400;
}

.page1-container {
    background-color: rgba(243, 237, 237, 0.658); 
    min-height: 35vh;
    display: grid;
    justify-content: center;
    align-items: center;
}


.page2-container {
    background-color: rgba(243, 237, 237, 0.747); 
    min-height: 35vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    background: crimson;
        border: 2px solid crimson;
        cursor: pointer;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 8px; 
        padding: 6px 12px
}
.menu-container {
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    
}

.men-item {
    border: 2px solid crimson;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    padding: 6px 12px;
    transition: background 0.3s ease;
}

.non{
  
    cursor: pointer;
    color: white;
    border-radius: 8px;
    padding: 6px 12px;
    transition: background 0.3s ease;
}

.home {
    background: crimson;
}

.non:hover{
    background: crimson;
    border-color: crimson;
}

.men-item:hover {
    background: transparent;
    border-color: crimson;
}

@media (max-width: 768px) {
    
    .menu-container {
        left: 50%;
        transform: translateX(-50%);
    }
}

